{% extends "index.html" %}
{% block content %}
<h2>{{ customer.name }} <img src='/media/images/icons/contract.png'>{{ customer.contract_set.all.count }}
<img src='/media/images/icons/host.png'> {{ tot_hosts }}</h2> 
<p>
{% if valid_contracts %}
<h3>Valid contracts :</h3>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>#hosts</th>
    </tr>
    {% for cont in valid_contracts %}
    <tr>
        <td>{{cont.start_date}}</td>
        <td>{{cont.end_date}}</td> 
        <td align='center'><img src='/media/images/icons/host.png' height='16'> {{ cont.hosts.count }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if old_contracts %}
<h3>Old contracts :</h3>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>#hosts</th>
    </tr>
    {% for cont in old_contracts %}
    <tr>
        <td>{{cont.start_date}}</td>
        <td>{{cont.end_date}}</td> 
        <td align='center'><img src='/media/images/icons/host.png' height='16'> {{ cont.hosts.count }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<div id="customers">
</div>
{% endblock %}