{% extends "index.html" %}
{%load smart_if%}
{% block content %}
<h2>{{ customer.name }} <img src='/media/images/icons/contract.png'>{{ customer.contract_set.all.count }}
<img src='/media/images/icons/host.png'> {{ tot_hosts }} <a href="?action=add"><img src="/media/images/icons/add.png" title="add a new contract" border="0"></a></h2> 
<p>
{% if action %}
New contract creation 
<form method="POST">
  <table>
	{{ form }}
  </table>
  <input type="submit" value="generate license">
</form>
{% else %}
<div id=contracts>
{% if valid_contracts %}
<div id=validcontracts>
<h3>Valid contracts :</h3>
<table>
    <tr>
        <th></th>
        <th>License</th>
        <th>From</th>
        <th>To</th>
        <th>#hosts</th>
    </tr>
    {% for cont in valid_contracts %}
    <tr>
        <td><a href="?action=delete&cont={{cont.id}}"><img src="/media/images/icons/delete.png" height="16" border="0" title="delete the contract"></a></td>
        <td>{{cont.license}}</td>
        <td>{{cont.start_date}}</td>
        <td>
          {{cont.end_date}}
          {% if cont.days_left < 10 %}
            <img src='/media/images/icons/expiring.png' height='16'>
          {% endif %}
        </td>
        <td><a href='/web/list/hosts/{{ cont.id }}'><img src='/media/images/icons/host.png' height='16' border='0'></a> 
            {{ cont.hosts.count }}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
{% if old_contracts %}
<div id=expiredcontracts>
<h3>Expired contracts :</h3>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>#hosts</th>
    </tr>
    {% for cont in old_contracts %}
    <tr>
        <td>{{cont.start_date}}</td>
        <td>{{cont.end_date}}</td> 
        <td><a href='/web/list/hosts/{{ cont.id }}'><img src='/media/images/icons/host.png' height='16' border='0'></a> 
            {{ cont.hosts.count }}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
</div>
{% endif %}
{% endblock %}
