{% extends "index.html" %}
{% block content %}
<div id='hosts'>
<table>
    <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Public IP</th>
        <th># pack to update</th>
    </tr>
    {% for host in hosts %}
    <tr>
        <td>{{ host.name }}</td>
        <td>{{ host.ip }} </td>
        <td>{{ host.public_ip }} </td>
        <td align='center'>{{ host.packages_to_update }} <a href='/web/list/packages/{{ host.id }}/'
        <img src='/media/images/icons/install.png' height='16' border='0'></a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
