<html>
<head>
        <title>Banquise</title>
        <link rel="stylesheet" type="text/css" href="/media/css/banquise.css">
        <link rel="stylesheet" type="text/css" href="/media/css/banquise/jquery-ui-1.7.2.custom.css" />
        <script type="text/javascript" src="/media/javascripts/jquery-1.3.2.js"></script>
        <script type="text/javascript" src="/media/javascripts/ui/ui.core.js"></script>
        <script type="text/javascript" src="/media/javascripts/ui/ui.datepicker.js"></script>
        <script type="text/javascript">
           $(function() {
				$("#id_start_date").datepicker({ dateFormat: 'yy-mm-dd' });
				$("#id_end_date").datepicker({ dateFormat: 'yy-mm-dd' });
	       });
        </script>       
</head>
<body>
<div id="top"><img src='/media/images/banquise.png'>
<div id="header">
<ul>
	<li id="selected"><a href="/web/list/customers/">customers</a></li>
	<li><a href="/web/list/hosts/">hosts</a></li>
	<li><a href="/web/list/packages/">packages</a></li>
</ul>
<!--
<div id="right">Search: </div>
-->
</div>
</div>
<div id="left">
{% block left_content %}
<h1>Contracts</h1>
<table>
    {% for cont in contracts %}
    <tr>
        <td><strong>{{cont.customer.name}}:</strong></td>
        <td>valid until {{cont.end_date}}</td> 
        <td><img src='/media/images/icons/host.png' height='16'> {{ cont.hosts.count }} </td>
        <td><img src='/media/images/icons/package.png' height='16'> {{ cont.packages_to_update }} </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</div>
<div id="content">
{% block content %} 
Banquise is a remote pakage manager.
<p>
Written by Frederic Descamps with the very precious help of Jochen Maes
<p>
{% endblock content %}
<p>	
</div>
<div id="footer"></div>
</body>
</html>
