<html>
<head>
<title>Banquise</title>
<link rel="stylesheet" type="text/css" href="/media/css/banquise.css">
</head>
<body>
<div id="top"><img src='/media/images/banquise.png'>
<div id="header">
<ul>
	<li id="selected"><a href="/web/list/customers/">customers</a></li>
	<li><a href="/web/list/hosts/">hosts</a></li>
	<li><a href="/web/list/packages/">packages</a></li>
</ul>
</div>
</div>
<div id="left">
{% block left_content %}
<h1>Contracts</h1>
<table>
    {% for cont in contracts %}
    <tr>
        <td><strong>{{cont.customer.name}}:</strong></td>
        <td>valid until {{cont.end_date}}</td> 
        <td><img src='/media/images/icons/host.png' height='16'> {{ cont.hosts.count }} </td>
        <td> tot : {{ packs.cont }} </td>
    </tr>
    {% endfor %}
</table>
{% for pack in packs %}
    <li>{{ pack }}
{% endfor %}
{% endblock %}
</div>
<div id="content">
<div id="right">Search: </div>
{% block content %} 
content
{% endblock content %}
<p>	
</div>
<div id="footer"></div>
</body>
</html>
