{% extends "index.html" %}
{%load smart_if%}
{% block content %}
<h3>{{ host.name }} - {{ host.release }}</h3> 
<div id='packages'>
    <form method='POST'>
        <input type='submit' value='update'>
        <input type='submit' name='update_all' value='update all packages'>
        <input type='submit' name='skip' value='skip'> 
<table>
    <tr>
        <th>name</th>
        <th>architecture</th>
        <th>version</th>
        <th>release</th>
        <th>available since</th>
        <th></th>
        <th>to install</th>
    </tr>
    
    {% for pack in packages.object_list %}
        <tr class='packagestoinstall'> 
        <td>{{ pack.package.name }}
        <input type="hidden" name="pack_in_page" value="{{ pack.id }}">
        </td>
        <td>{{ pack.package.arch }}</td>
        <td>{{ pack.package.version }}</td>
        <td>{{ pack.package.release }}</td>
        <td>{{ pack.date_available }}</td>
        <td align='center'>
        <a href='/web/list/changelog/{{ pack.package.id }}/'>
        <img src='/media/images/icons/changelog.png' title='changelog' border='0'>
        </a>
        {% if pack.package.metainfo.id %}
        <a href='/web/list/metainfo/{{ pack.package.id }}/{{ pack.package.metainfo.id }}/'>
        <img src='/media/images/icons/{{ pack.package.type }}.png' title='{{ pack.package.metainfo.updateid }} : {{ pack.package.type }}' border='0'></td>
        </a>
        {% else %}
        <img src='/media/images/icons/{{ pack.package.type }}.png' title='{{ pack.package.metainfo.updateid }} : {{ pack.package.type }}' border='0'></td>
        {% endif %}
        <td align='center'>{% if not pack.package_installed %}
            {% if not pack.to_install %}
            <input type="checkbox" value="{{ pack.id }}" name="to_install" />
            {% else %}
            <input type="checkbox" value="{{ pack.id }}" name="to_install" checked />
            {% endif %}
            {% endif %}</td>
    </tr>
   {% endfor %}
</table>
        <input type='submit' value='update'>
        <input type='submit' name='update_all' value='update all packages'>
        <input type='submit' name='skip' value='skip'> 
</form>
<div class="pagination">
    <span class="step-links">
        {% if packages.has_previous %}
            <a href="?page={{ packages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ packages.number }} of {{ packages.paginator.num_pages }}.
        </span>

        {% if packages.has_next %}
            <a href="?page={{ packages.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<a href='/web/list/packages_history/{{ host.id }}'><img src='/media/images/icons/cal.png' align='right' border='0'></a>
<a name='history'><h3>History</h3></a> 
<table>
    <tr>
        <th>name</th>
        <th>arch</th>
        <th>version</th>
        <th>release</th>
        <th>available since</th>
        <th>installed date</th>
        <th>sync date</th>
    </tr>
    
    {% for pack in packages_installed.object_list %}
    {% if pack.removed %} <tr class='packagesdeleted'> 
    {% else %}
     {% if not pack.package_skipped %} <tr class='packagesinstalled'> {% endif %}
     {% if pack.package_skipped %} <tr class='packagesskipped'> {% endif %}
    {% endif %} 
        <td>{{ pack.package.name  }}</td>
        <td>{{ pack.package.arch }}</td>
        <td>{{ pack.package.version }}</td>
        <td>{{ pack.package.release }}</td>
        <td>{{ pack.date_available }}</td>
        <td>{% if pack.package_skipped %} skipped on {% endif %}{{ pack.date_installed }}</td>
        <td>{{ pack.date_synced }}</td>
    </tr>
   {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if packages_installed.has_previous %}
            <a href="?page_hist={{ packages_installed.previous_page_number }}#history">previous</a>
        {% endif %}

        <span class="current">
            Page {{ packages_installed.number }} of {{ packages_installed.paginator.num_pages }}.
        </span>

        {% if packages_installed.has_next %}
            <a href="?page_hist={{ packages_installed.next_page_number }}#history">next</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock %}
