{% extends "index.html" %}
{%load smart_if%}
{% block content %}
<div id='packages'>
    <form method='POST'>
        <input type='submit' value='install'>
<table>
    <tr>
        <th>name</th>
        <th>arch</th>
        <th>version</th>
        <th>release</th>
        <th>available since</th>
        <th>to install</th>
    </tr>
    
    {% for pack in packages|dictsort:"package.name" %}
    {% if not pack.date_installed and not pack.package_skipped %} <tr class='packagestoinstall'> 
        <td>{{ pack.package.name }}</td>
        <td>{{ pack.package.arch }}</td>
        <td>{{ pack.package.version }}</td>
        <td>{{ pack.package.release }}</td>
        <td>{{ pack.date_available }}</td>
        <td>{% if not pack.date_installed %}
            {% if not pack.to_install %}
            <input type="checkbox" value="{{ pack.id }}" name="to_install" />
            {% else %}
            <input type="checkbox" value="{{ pack.id }}" name="to_install" checked />
            {% endif %}
            {% endif %}</td>
    </tr>
    {% endif %}
   {% endfor %}
</table>
</form>
<h3>History</h3>
<table>
    <tr>
        <th>name</th>
        <th>arch</th>
        <th>version</th>
        <th>release</th>
        <th>available since</th>
        <th>installed date</th>
    </tr>
    
    {% for pack in packages|dictsort:"package.name" %}
    {% if pack.date_installed %} 
    {% if not pack.package_skipped %} <tr class='packagesinstalled'> {% endif %}
    {% if pack.package_skipped %} <tr class='packagesskipped'> {% endif %}
        <td>{{ pack.package.name }}</td>
        <td>{{ pack.package.arch }}</td>
        <td>{{ pack.package.version }}</td>
        <td>{{ pack.package.release }}</td>
        <td>{{ pack.date_available }}</td>
        <td>{% if pack.package_skipped %} skipped on {% endif %}{{ pack.date_installed }}</td>
    </tr>
    {% endif %}
   {% endfor %}
</table>
</div>
{% endblock %}
