{% extends "index.html" %}
{%load smart_if%}
{% block content %}
<h2>Search for packages: </h2>
<div id='formpackages'>
    <form method='POST'>
<table>
  {{ form }}
 </table>
        <input type='submit' value='search'>
{% if packages %}    
<table>
    <tr>
        <th>name</th>
        <th>arch</th>
        <th>version</th>
        <th>release</th>
        <th>repo</th>
        <th>type</th>
        <th>updateID</th>
        <th>more</th>
    </tr>
    
    {% for pack in packages %}
    <tr class='packagestoinstall'> 
        <td>{{ pack.name  }}</td>
        <td>{{ pack.arch }}</td>
        <td>{{ pack.version }}</td>
        <td>{{ pack.release }}</td>
        <td>{{ pack.repo }}</td>
        <td>
        {% if pack.metainfo.id %}
        <a href='/web/list/metainfo/{{ pack.id }}/{{ pack.metainfo.id }}/'>
        <img src='/media/images/icons/{{ pack.type }}.png' title='{{ pack.metainfo.updateid }} : {{ pack.type }}' border='0'></td>
        </a>
        {% else %}
        <img src='/media/images/icons/{{ pack.type }}.png' title='{{ pack.metainfo.updateid }} : {{ pack.type }}' border='0'></td>
        {% endif %}
        </td>
        <td>{{ pack.metainfo.updateid }}</td>
        <td><a href="?id={{ pack.id }}"><img src='/media/images/icons/add.png' height='16' border='0'></a>
    </tr>
   {% endfor %}
</table>
{% if pack_detail %}
<a href="/web/serverpackage/{{ pack_detail }}">Install the package to a server</a>
{% endif %}
{% if link_packages %}    
<div id='formpackages2'>
  <table>
    <tr>
        <th>host</th>
        <th>available since</th>
        <th>installed date</th>
    </tr>
    
    {% for pack in link_packages %}
      {% if not pack.date_installed and not pack.removed %} <tr class='packagestoinstall'> {% endif %}
      {% if pack.removed %} <tr class='packagesdeleted'> 
      {% else %}
      {% if not pack.skipped and pack.date_installed %} <tr class='packagesinstalled'> {% endif %}
      {% if pack.skipped and pack.date_installed %} <tr class='packagesskipped'> {% endif %}
      {% endif %}
        <td>{{ pack.host.name  }}</td>
        <td>{{ pack.date_available }}</td>
        <td>{% if pack.skipped %} skipped on {% endif %} 
            {% if not pack.package_installed and not pack.to_install %}
               <form method="POST">
                  <input type="hidden" name="to_install" value="{{ pack.id }}"> 
                  <input type="submit" name="update" value="update"> 
               </form>
             {% else %}
             {% if pack.removed %}
               <form method="POST">
                  was removed<input type="hidden" name="to_install" value="{{ pack.id }}"> 
                  <input type="submit" name="update" value="update"> 
               </form>  
             {% else %}
               {% if not pack.package_installed %}
                  pending
               {% else %}
                 {% if pack.date_installed %}
                    {{ pack.date_installed }}
                 {% else %}
                    via sync
                 {% endif %}
               {% endif %} 
            {% endif %}
            {% endif %}
        </td>
      </tr>
   {% endfor %}
  </table>
</div>
{% endif %}
{% endif %}    
</div>
{% endblock %}